.message-block {
  display: flex;
  margin-bottom: 20px;
}

.message-block--self {
  .avatar {
    order: 2;
    margin-left: 10px;
  }
}

.message-block--other {
  .avatar {
    margin-right: 10px;
  }

  .message-block__message {
    &:first-child {
      &:after {
        left: -10px;
      }
    }
  }
}

.message-block__messages {
  flex: 1;
}

.message-block__message {
  padding: 10px;
  background-color: #fff;
  margin-bottom: 5px;
  border-radius: 4px;

  .message-block--other & {
    color: #fff;
    background-color: $color-primary;

    &:first-child {
      &:after {
        border-top-color: $color-primary;
      }
    }
  }

  &:first-child {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: -10px;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;

      border-top: 10px solid #fff;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

time {
  font-size: 12px;
  opacity: 0.6;
}
