.message {
  display: flex;
  flex-direction: column;

  .message-content {
    padding: $spacing-unit-small;
    margin-bottom: $spacing-unit-small;
    border-radius: 3px;
    display: inline-block;
  }

  &.self {
    align-self: flex-end;
  }

  &.participant {
    .message-content {
      color: #fff;
      background-color: $color-primary;
    }
  }
}
